{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block styles %}
@media only screen and (min-width: 64.063em){
	
}
{% endblock %}

{% block content %}

<div class="row">
	<div class="large-10 medium-8 small-12 columns">
		<h2>{% blocktrans with profile.user.username as username %}Account &raquo; {{ username }}{% endblocktrans %}</h2>
	</div>
	
	<div class="large-2 medium-4 small-12 columns">
		<a class="button right small-12" href="{% url 'userena_profile_detail' user.username %}">{% trans '&laquo; Back' %}</a>
	</div>
	
	
</div>


<div class="row">
	<div class="small-12 columns">
	<h4>Change Password</h4>
<form class="large-12 small-12" action="" method="post" id="password_change_form">
  
  <fieldset>
    
    {% csrf_token %}
	<div class="small-12 large-6">
    {{ form.as_p }}
	</div>
  <input class="button large-3 small-12" type="submit" value="{% trans 'Change password' %}" />
  </fieldset>
</form>
{% endblock %}
