{% extends 'userena/base_userena.html' %}
{% load i18n %}


{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">
	<div class="large-centered large-8 small-12 columns">
		<h1>Signup</h1>
		<form action="" method="post">
		  {% csrf_token %}
		  <fieldset>
			
			{{ form.non_field_errors }}
			{% for field in form %}
			{{ field.errors }}
			{% comment %} Displaying checkboxes differently {% endcomment %}
			{% if field.name == 'tos' %}
			<p class="checkbox">
			<label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
			</p>
			{% else %}
			<p>
			{{ field.label_tag }} 
			{{ field }}
			</p>
			{% endif %}
			{% endfor %}
		  
		  <input class="button large-3 small-12" type="submit" value="{% trans 'Signup' %}" />
		  </fieldset>
		</form>
	</div>
</div>
{% endblock %}
